{
    "rtsp_host_url": "192.168.1.28/cam/realmonitor?channel=4&subtype=0",
    "rtsp_user": "admin",
    "rtsp_password": "U3ByaW5nMDEh",
    "resize_ratio": 0.4,
    "small_resize_ratio": 0.25,
    "yolo_confidence_level": 0.55,
    "output_directory": "output_videos",
    "output_file_prefix": "capture_",
}