{
    "rtsp_host_url": "192.168.1.28/cam/realmonitor?channel=4&subtype=0",
    "rtsp_user": "admin",
    "rtsp_password": "U3ByaW5nMDEh",
    "resized_frame_w": 1280,
    "resized_frame_h": 720,
    "small_frame_w": 640,
    "small_frame_h": 360,
    "yolo_confidence_level": 0.55,
    "output_directory": "output_videos",
    "output_file_prefix": "capture_",
    "background_subtraction_method_values": ["absdiff","mog"],
    "background_subtraction_method": "absdiff"
}