

<html>
<head>
    <title>Recorded Videos</title>
</head>
<script src="/surveillance/static/js/d3.v7.js"></script>
<script src="/surveillance/static/js/hls.js"></script>

<!--

    Author: Steven Chiu
    Purpose: Calendar function to Delete Videos by dater

    This code is written from ground up using D3
    This is a copy from recorded_videos.html

-->
<link rel="stylesheet" href="/surveillance/static/css/surveillance.css">

<body>
    <div class="top_menu_parent">
        <div class="top_menu">
            <div id="menu_recorded_videos" class="menu_cell"  onclick="goRecordedPage()">Recorded Videos</div>
            <div id="menu_live" class="menu_cell" onclick="goRecordedPage()">Live Stream</div>
            <div id="menu_info" class="menu_cell cell-red" >Other Info</div>
        </div>
    
    </div>
    <script src="/surveillance/static/js/surveillance.js"></script>
<script>
function goRecordedPage() {
    window.location = "/surveillance/";
}
function submitForm() {
    if(confirm("Press OK to confirm DELETE.")) {
        return true
    } else {
        return false;
    }
    
}
</script>    
<div class="main_layout">
    <div>Logged in as {{ data['username'] }}</div>
    <P>{% for message in data['message'] %}
        {{ message }}<br>
    {%endfor%}
    </P>
    <div id="calendar" class="calendar">
    <div id="calendar_container" class="calendar-container">
        <div class="calendar-month-head">January 2024</div>
        <div class="calendar-week-head">Prev</div>
        <div class="calendar-week-head">Next</div>
        <div class="calendar-week-head">Sun</div>
        <div class="calendar-week-head">Mon</div>
        <div class="calendar-week-head">Tue</div>
        <div class="calendar-week-head">Wed</div>
        <div class="calendar-week-head">Thur</div>
        <div class="calendar-week-head">Fri</div>
        <div class="calendar-week-head">Sat</div>
    </div>
    </div>
    <form action="admin_delete" onsubmit="return submitForm()" id="formdata" method="post">
    <div id="video_list_container" class="video-list-container"><div id="video_list_main"></div></div>
    <div id="other_info_container" class="other-info-container">Other info</div>
    <div style="justify-items: center;padding:10px">
        <input type="submit" value="Delete Files">
    </div>
    
    </form>
</div>


</body>

<script>

const months = [
	"January",
	"February",
	"March",
	"April",
	"May",
	"June",
	"July",
	"August",
	"September",
	"October",
	"November",
	"December"
];
const weekName = ["Sun", "Mon", "Tue", "Wed", "Thu","Fri", "Sat"];

// Array of month names
let param_date = new Date();
let param_year = param_date.getFullYear();
let param_month = param_date.getMonth();
let param_dom = param_date.getDate();
let curr_hour = param_date.getHours();
var videos_month = {}
var videos_hour = {}
    var videos = {
        "0": {
            "0": [{"date":"2024-01-18 14:01:00", "filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}, {"filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}],
            "5": [{"date":"2024-01-18 14:01:00", "filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}, {"filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}],
            "10": [{"date":"2024-01-18 14:01:00", "filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}, {"filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}]
            },
        "1": {"0": [{"date":"2024-01-18 14:01:00", "filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}, {"filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}]},
        "9": {"0": [{"date":"2024-01-18 14:01:00", "filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}, {"filename": "abc.mp3", "title": "title1","file_size": 1000, "duration": "100","comment": "Car is travelling west"}]}
    }


    function createVideoListByMin() {


        var video_main = d3.select("#video_list_main")
        var video_list = video_main.append("div").attr("class", "video-list-main")
        video_list.append("div").attr("class","video-list-time").text("Time Slot");
        var title_item_div = video_list.append("div").attr("class","video-list-content-grid")
        title_item_div.append("div").attr("class","video-list-content-item").text("Delete")
        title_item_div.append("div").attr("class","video-list-content-item").text("Time")
        title_item_div.append("div").attr("class","video-list-content-item").text("Title")
        title_item_div.append("div").attr("class","video-list-content-item").text("Duration")
        title_item_div.append("div").attr("class","video-list-content-item").text("Size")
        title_item_div.append("div").attr("class","video-list-content-item").text("Comment")

        
        for(var i=0; i<60; i+=5) {
            
            video_list.append("div").attr("class","video-list-time").text(parseInt(curr_hour).toString().padStart(2,"0") + ":" + i.toString().padStart(2,"0") );
            hour_list = videos[i];
            if(hour_list == null) {
                video_list.append("div").attr("class","video-list-content").text(" ")
            } else {
                video_items = hour_list
                if(video_items != null) {
                    var item_div = video_list.append("div").attr("class","video-list-content-grid-del")
                    video_items.forEach(element => {
                        var e0 = item_div.append("div").attr("class","video-list-content-item")
                        e0.append("input").attr("type","checkbox").attr("name","video_file").attr("value",element['filename'])
                        var e1 = item_div.append("div").attr("class","video-list-content-item").text(element["time"])
                        var e2 = item_div.append("div").attr("class","video-list-content-item").text(element["title"])
                        
                        var e3 = item_div.append("div").attr("class","video-list-content-item").text(element["duration"])
                        var e4 = item_div.append("div").attr("class","video-list-content-item").text(element["file_size"])
                        var e5 = item_div.append("div").attr("class","video-list-content-item").text(element["comment"])
                    })
                    
                } else {
                    video_list.append("div").attr("class","video-list-content").text(" ")
                }
            }
            

        } 

        
    }

    // createCalendar(param_year,param_month);
    //createVideoList(curr_hour);
    refreshCalendar();
    showRecordedVideoContent();


</script>
</html>