<!--

    Author: Steven Chiu
    Purpose: Calendar function to group videos together

    This code is written from ground up using D3

    Some references to  https://www.geeksforgeeks.org/how-to-design-a-simple-calendar-using-javascript/ for inspiration and guidance only

    HTTP Live Streaming Library provided by: https://hlsjs.video-dev.org/demo/basic-usage


-->

<html>
<head>
    <title>Recorded Videos</title>
</head>
<!-- 
        CSS Files for Calendar widget

-->
<link rel="stylesheet" href="/surveillance/static/css/surveillance.css">

<!--

    D3 framework is from https://d3js.org/
    Although used mostly for graphics with its d3 charting capabilities, I am using D3 for its ease of use to
    retrieve files from the server and provides ability to parse the json and csv elements.

-->
<script src="/surveillance/static/js/d3.v7.js"></script>

<!-- 
    HLS is HTTP Live Streaming. This module enables the <video> tag to work properly with HLS Streaming.
    Provided by HTTP Live Streaming Library provided by: https://hlsjs.video-dev.org/demo/basic-usage

-->
<script src="/surveillance/static/js/hls.js"></script>

<!--
    Custom build Surveillance javascript to enable various functions such as:
    - Building of Calendar system
    - Interfacing with video tags and playing video
    - Refresh of calendar values and # of videos on each day and each hour.


-->
<script src="/surveillance/static/js/surveillance.js"></script>




<body>
<!-- 
    This Div tag provides the top Menu display.
    Each div is activated to change menu using 'changeMenu' function in our javascript file.

-->    
    <div class="top_menu_parent">
        <div class="top_menu">
            <div id="menu_recorded_videos" class="menu_cell cell-red"  onclick="changeMenu('menu_recorded_videos')">Recorded Videos</div>
            <div id="menu_live" class="menu_cell" onclick="changeMenu('menu_live')">Live Stream</div>
            <div id="menu_info" class="menu_cell" onclick="changeMenu('menu_other_info')">Other Info</div>
        </div>
    
    </div>
    
<script>
    // Current Menu Item
    var activeMenuId = "menu_recorded_videos"


    // Pre-defined month names for Calendar
    const months = [
	"January",
	"February",
	"March",
	"April",
	"May",
	"June",
	"July",
	"August",
	"September",
	"October",
	"November",
	"December"
];
    // Pre-defined week names for our calendar
    const weekName = ["Sun", "Mon", "Tue", "Wed", "Thu","Fri", "Sat"];


// Get the current Date as default; extract Year, Month, Date and current hour.
let param_date = new Date();
let param_year = param_date.getFullYear();
let param_month = param_date.getMonth();
let param_dom = param_date.getDate();
let curr_hour = param_date.getHours();

// Intialize a dictionary of videos by month, by hour.
var videos_month = {}
var videos_hour = {}

// Full list of videos as we get from our json file.
var videos = {}
</script>    
<style>
    .carousel-container {
        display: flex;
        
        overflow: hidden;
        width: 640;
        
        scroll-behavior: smooth;
        
    }
    .carousel-time-slot-container {
        align-items: center;
        width: 740px;
    }
    .carousel-item-container {
        float: right;
    }
    .carousel-item {
        padding: 10px;
    }
    .carousel-hour-container {
        
        display: grid;
        grid-template-columns: repeat(10,auto);
        
        padding: 10px;
    
    }
    .carousel-hour-item {
        
        margin: 10px;
        padding: 5px;
        border: 1px solid #000000;
        background-color: rgb(0, 72, 154);
        color: white;
        border-radius: 15px;
        width: 20px;
        height: 20px;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;
        font-weight: bold;
        
    }
    .carousel-time-slot-header {
        text-align: center;
    }
    </style>
    <script>
    var carousel_step_value = 0;
    function btn_next() {
        var carousel_container = document.getElementById("carousel-container");
        var offsetLeft_orig = carousel_container.offsetLeft;
        carousel_container.scrollLeft += 660;
        var offsetLeft_new = carousel_container.offsetLeft;
        if(offsetLeft_new != offsetLeft_orig) {
            carousel_step_value++;
        }
    
    
    }
    function btn_prev() {
        var carousel_container = document.getElementById("carousel-container");
        var offsetLeft_orig = carousel_container.offsetLeft;
        carousel_container.scrollLeft -= 660;
        var offsetLeft_new = carousel_container.offsetLeft;
        if(offsetLeft_new != offsetLeft_orig) {
            carousel_step_value--;
        }

    
    
    }

    function scrollPicStep(pic_step) {
        var carousel_container = document.getElementById("carousel-container");

        var num_steps = pic_step - carousel_step_value;
        carousel_step_value = pic_step;
        carousel_container.scrollLeft += num_steps * 660  ;
    
    }

    </script>


<script>
// Populate Carousel images


</script>

<!--
    Main Layout - for a display of videos when a video selection is clicked.
    Calendar: Placeholder where our javascript will interact with this DIV and build the grid.

-->
<div class="main_layout">
    <div id="video_play" class="video_play">
        <video id="video_play_area" class="video_play" controls></video>
    </div>
    <div id="calendar" class="calendar">
    <div id="calendar_container" class="calendar-container">
        <div class="calendar-month-head">January 2024</div>
        <div class="calendar-week-head">Prev</div>
        <div class="calendar-week-head">Next</div>
        <div class="calendar-week-head">Sun</div>
        <div class="calendar-week-head">Mon</div>
        <div class="calendar-week-head">Tue</div>
        <div class="calendar-week-head">Wed</div>
        <div class="calendar-week-head">Thur</div>
        <div class="calendar-week-head">Fri</div>
        <div class="calendar-week-head">Sat</div>
    </div>
    </div>
    <div id="video_list_container" class="video-list-container"><div id="video_list_main"></div></div>
    <div id="other_info_container" class="other-info-container">Other info</div>
    <div class="carousel-time-slot-container" style="border: 2px solid #000000; background-image: linear-gradient(to bottom , rgb(206, 228, 255), white); border-radius: 5px;">
        <div id="carousel_hour" style="display: grid; grid-template-columns: repeat(62,20px); justify-self: center; align-items: center;padding:20px; scroll-behavior: smooth;overflow:hidden; cursor: move"></div>
        <div></div>
    </div>

    <div style="display: grid; grid-template-columns: 50px auto 50px; justify-self: center;align-items: center;">
        <div><div><img src="static/images/left.png" width="50" height="50" style="cursor:pointer" onclick="btn_prev()"></div></div>
    
    <div class="carousel-container" id="carousel-container">
    </div>
    <div><div><img src="static/images/right.png" width="50" height="50" style="cursor:pointer" onclick="btn_next()"></div></div>
    </div>
    
</div>

<!--

Carousel Start


-->
<script>
    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    var elmt =  document.getElementById("carousel_hour");
    function dragMouseDown(e) {
        e = e || window.event;
        e.preventDefault();
        pos3 = e.clientX;
        document.onmouseup = closeDragElement;
        document.onmousemove = elementDrag;
        //elmt.scrollLeft += 50;
        console.log("test")
        
    }
    function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        pos1 = pos3 - e.clientX;
        
        elmt.scrollLeft += pos1 ;
        
        
     }
    function closeDragElement(e) {
        document.onmouseup = null;
        document.onmousemove = null;
    }
    elmt.onmousedown = dragMouseDown;
    </script>    

<body>
<div class="main-layout">
</div>


</body>
<script>


</script>
</body>

<script>

    // Refresh the Calendar; will be based on default date to start.

    refreshCalendar();
    showRecordedVideoContent();


</script>
</html>