{
    "debug": 0,
    "comment1":"----- source definition ----",
    "source_comment": "values are ['video_file','rtsp']",
    "source": "rtsp",
    "video_file": "sample_videos/raw_capture_01.mp4",
    "rtsp_host_url": "192.168.1.34/cam/realmonitor?channel=4&subtype=0",
    "rtsp_user": "admin",
    "rtsp_password": "U3ByaW5nMDEh",
    "comment2":"----- Frame Sizes and Augmented Frame Size Configuration ----",
    "resized_frame_w": 1280,
    "resized_frame_h": 720,
    "small_frame_w": 320,
    "small_frame_h": 180,
    "comment3":"------ Background Subtraction Algos --------",
    "background_subtraction_method_values": ["absdiff","mog2","vibe"],
    "background_subtraction_method": "mog2",
    "number_of_frame_diff": 1,
    "comment4":"------- Object Detection ------",
    "yolo_confidence_level": 0.55,
    "version_info":"BS mog2 + Yolo + Object Tracking - Evaluation #2 Real-time",
    "ignore_small_blobs": 1,
    "comment5":"-------output-------",
    "output_directory": "output_videos",
    "output_file_prefix": "capture_",
    "save_video_on_alert": 0,
    "comment6":"--------- Object Tracker Config------",
    "object_tracker_centroid_trail": 1,
    "centroid_max_distance": 100,
    "notification_alert_hot_words": ["towards","away","person"],
    "notification_email": "schiu01@gmail.com",
    "send_notifications": 1,
    "notification_from_email": "schiu01@gmail.com",
    "notification_pwd": "untm mahe xyco vaqq"
    
}